*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{

    background-color: rgb(2, 139, 252);
    border: 1px solid blue;
    width: 700px;
    margin: 0 auto;
}

ul{
display: flex;
justify-content: space-around;
}

li{
    list-style-type: none;
}

a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: white;

}