*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


.menu  {
    
    
    background-color: rgb(2, 139, 252);
    border: 1px solid blue;
    margin: auto;
    width: 500px;
    
}
a{
    display: inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
   
}

li{
    list-style-type: none;

    

}
ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
   
}

a:hover{
    background-color: white;
    color: rgb(122, 136, 248);

}